<h3>Find By Last Name</h3>
<div style="width: 300px;">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="lastname">Last Name</label> <input type="text"
				class="form-control" id="lastname" required [(ngModel)]="lastName"
				name="lastname">
		</div>

		<div class="btn-group">
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>
<ul>
	<li *ngFor="let cust of customers">
		<h4>{{cust.id}} - {{cust.firstName}} {{cust.lastName}}</h4>
	</li>
</ul>